.video{
  cursor: pointer;
  transition: transform 250ms ease-in;
}
.video:hover{
  transform: scale(1.02);
}
.title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height:44px;
  font-size: 18px;
  font-weight: bold;
}
.channelTitle{font-size: 14px;}